In [271]:
import pandas as pd
import math
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [272]:
train=pd.read_csv(r"C:\Users\amany\Desktop\Black_Friday_Sales_prediction\train.csv")
test=pd.read_csv(r"C:\Users\amany\Desktop\Black_Friday_Sales_prediction\test.csv")
original_train = train.copy()
original_test = test.copy()
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [273]:
# print(train.head())
# print(train.describe())

In [274]:
#Now turn all our string values in category values
# for label,content in original_train.items():
#     if pd.api.types.is_string_dtype(content):
#         original_train[label] = content.astype("category").cat.as_ordered()
# original_train.dtypes
# train = original_train.copy()

#For TRAIN

train['Age'] = train['Age'].astype('category')
dummy = pd.get_dummies(train['Age'])
train = pd.concat((train,dummy),axis=1)
train=train.drop(['Age','55+','26-35','36-45','46-50','51-55','18-25',],axis=1)
train=train.rename(columns={"0-17":"Age"})
print(train.head())

#For TEST

# test['Age'] = test['Age'].astype('category')
# dummy2 = pd.get_dummies(test['Age'])
# test = pd.concat((test,dummy),axis=1)
# test=test.drop(['Age','55+','26-35','36-45','46-50','51-55','18-25',],axis=1)
# test=test.rename(columns={"0-17":"Age"})
# print(test.head())

   User_ID Product_ID Gender  Occupation City_Category  \
0  1000001  P00069042      F          10             A
1  1000001  P00248942      F          10             A
2  1000001  P00087842      F          10             A
3  1000001  P00085442      F          10             A
4  1000002  P00285442      M          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase  Age
0                 NaN                 NaN      8370    1
1                 6.0                14.0     15200    1
2                 NaN                 NaN      1422    1
3                14.0                 NaN      1057    1
4                 NaN                 NaN      7969    0

In [275]:
# train.info()
# test.isnull().sum()
#original_train.Age.cat.categories

In [276]:
train.shape

(550068, 12)

In [277]:
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [278]:
train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
Age                             uint8
dtype: object

In [279]:
train["Age"].value_counts()

0    534966
1     15102
Name: Age, dtype: int64

In [280]:
train["Stay_In_Current_City_Years"].value_counts()

1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64

In [281]:
train["Gender"].replace('F',0,inplace=True)
train["Gender"].replace('M',1,inplace=True)
#test
test["Gender"].replace('F',0,inplace=True)
test["Gender"].replace('M',1,inplace=True)

In [282]:
#Replacing ordinal variable

In [283]:
train["City_Category"].replace('A',1,inplace=True)
train["City_Category"].replace('B',2,inplace=True)
train["City_Category"].replace('C',3,inplace=True)

#test

test["City_Category"].replace('A',1,inplace=True)
test["City_Category"].replace('B',2,inplace=True)
test["City_Category"].replace('C',3,inplace=True)

In [284]:
# train["Age"].replace('55+',55,inplace=True)
# train["Age"].replace('0-17',9,inplace=True)
# train["Age"].replace('51-55',53,inplace=True)
# train["Age"].replace('46-50',48,inplace=True)
# train["Age"].replace('18-25',22,inplace=True)
# train["Age"].replace('36-45',40,inplace=True)
# train["Age"].replace('26-35',31,inplace=True)


train["Stay_In_Current_City_Years"].replace('4+',4,inplace=True)
test["Stay_In_Current_City_Years"].replace('4+',4,inplace=True)


test["Age"].replace('55+',55,inplace=True)
test["Age"].replace('0-17',9,inplace=True)
test["Age"].replace('51-55',53,inplace=True)
test["Age"].replace('46-50',48,inplace=True)
test["Age"].replace('18-25',22,inplace=True)
test["Age"].replace('36-45',40,inplace=True)
test["Age"].replace('26-35',31,inplace=True)

In [285]:
train["Marital_Status"].value_counts()

0    324731
1    225337
Name: Marital_Status, dtype: int64

In [286]:
train["Product_Category_1"].value_counts()

5     150933
1     140378
8     113925
11     24287
2      23864
6      20466
3      20213
4      11753
16      9828
15      6290
13      5549
10      5125
12      3947
7       3721
18      3125
20      2550
19      1603
14      1523
17       578
9        410
Name: Product_Category_1, dtype: int64

In [287]:
train["Product_Category_2"].value_counts()

8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64

In [288]:
train["Product_Category_2"].fillna(train["Product_Category_2"].median(), inplace=True)
train["Product_Category_3"].fillna(train["Product_Category_3"].median(), inplace=True)

#test

test["Product_Category_2"].fillna(train["Product_Category_2"].median(), inplace=True)
test["Product_Category_3"].fillna(train["Product_Category_3"].median(), inplace=True)

In [289]:
train.isnull().sum()
test.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
dtype: int64

In [290]:
train=train.drop('Product_ID',axis=1)
test=test.drop('Product_ID',axis=1)
test.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,1,48,7,2,2,1,1,11.0,14.0
1,1000009,1,31,17,3,0,0,3,5.0,14.0
2,1000010,0,40,1,2,4,1,5,14.0,14.0
3,1000010,0,40,1,2,4,1,4,9.0,14.0
4,1000011,0,31,1,3,1,0,4,5.0,12.0

In [291]:
X=train.drop('Purchase',axis=1)
y=train['Purchase']

In [292]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import f1_score,accuracy_score,r2_score,mean_squared_error

In [293]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=0)
X_train.shape

(385047, 10)

In [294]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [295]:
lin_pred = lin_reg.predict(X_test)
lin_pred

array([11640.14326546,  6191.98590507,  9524.79152226, ...,
       10580.3000638 , 11328.38160445, 10102.97121528])

In [296]:
mean_sq_er=mean_squared_error(y_test,lin_pred)
rmse=math.sqrt(mean_sq_er)
rmse

4704.541775293004

In [302]:
lin_pred_Orig = lin_reg.predict(test)
lin_pred_Orig

array([ 6059.08800914, 10145.57772013,  2948.17275171, ...,
        9840.91198531,  3254.4960397 ,  3066.698672  ])

In [298]:
test["Age"].value_counts()

31    93428
40    46711
22    42293
48    19577
53    16283
55     9075
9      6232
Name: Age, dtype: int64

In [299]:
sub=pd.read_csv(r"C:\Users\amany\Desktop\blackresult.csv")

In [300]:
sub["Purchase"]=lin_pred_Orig
sub["User_ID"]=original_test["User_ID"]
sub["Product_ID"]=original_test["Product_ID"]

In [301]:
sub.to_csv('Black_Friday_Result.csv', index=False)

In [303]:
sub

            Purchase  User_ID Product_ID
0        6059.088009  1000004  P00128942
1       10145.577720  1000009  P00113442
2        2948.172752  1000010  P00288442
3        3139.864256  1000010  P00145342
4        4691.343555  1000011  P00053842
...              ...      ...        ...
233594   8247.524027  1006036  P00118942
233595   8428.280941  1006036  P00254642
233596   9840.911985  1006036  P00031842
233597   3254.496040  1006037  P00124742
233598   3066.698672  1006039  P00316642

[233599 rows x 3 columns]